// customised variable from bootstrap
$primary: #29ade5;
$h1-font-size: 2rem;
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$shadow: 5px 10px 10px #888888;
$dark: black;
$body-color: black;
$grey: #2b2f3a;


// import fonts type
@font-face{
  font-family: 'Pure Pakati';
  src: url(../images/assets/fonts/pure-pakati/PurePakati-Regular.otf);
}


// Include parts of Bootstrap

// Required
@import "bootstrap-4.3.1/scss/functions";
@import "bootstrap-4.3.1/scss/variables";
@import "bootstrap-4.3.1/scss/mixins";


//optional
@import "bootstrap-4.3.1/scss/utilities/";
@import "bootstrap-4.3.1/scss/grid";
@import "bootstrap-4.3.1/scss/buttons";
@import "bootstrap-4.3.1/scss/images";
@import "bootstrap-4.3.1/scss/jumbotron";
@import "bootstrap-4.3.1/scss/forms";
@import "bootstrap-4.3.1/scss/modal";


// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// typography
h1 {
  text-shadow: 2px 2px rgba(0,0,0,0.4);
  font-family: 'Pure Pakati';
}


h3 {
  font-family: 'Pure Pakati';
}


p, ol {
  font-family: $font-family-sans-serif;
}

.para-Style {
  font-family: 'Pure Pakati';
  font-size: 2rem;
}


// background image on landing page
.background-carousel {
  background-image: url('../images/landing.jpg');
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 667px;
}


// style and readjust all logos, icons size
.brand-size {
  width: 100%;
  height: 80px;
}

.logo-size {
  width: 160px;
  height: 60px;
}


.icon-size {
  width: 70px;
  height: 70px;
}

.icon-size:hover {
  color: $primary;
}

.resize-font {
  font-size: 1.5rem;
}

.fa-home {
  font-size: 2rem;
}

.fa-calculator {
  font-size: 1rem;
}


// information icon hover effect
#appInfo:hover {
  transform: scale(1.5);
  color: black;
}



// style close button color
.close {
  color: #fff;
  opacity: 1;
}


// button hover effect
.btn:hover {
  color: $body-color;
}


//  readjust the size for images, some text size, and border frame size
.img-size {
  width: 100%;
  height: 250px;
}


.text-size {
  font-size: 12px;
}


.frame-size {
  width: 100%;
  height: 200px;
}

.banner-size {
  width: 100%;
  height: 600px;
}


.card-size {
  width: 20rem;
}


#map {
  width: 340px;
  height: 400px;
  background-color: black;
}


.marker-img-size {
  width: 250px;
  height: 150px;
}


//  set icon for cursor pointer
.fas {
  cursor: pointer;
}




// display for phone screen size
@media (max-width: 600px){
  .quotes, .social-desktop, #imgBanner, #mobileDisplay, .desktop{
    display: none;
  }

  .background-carousel{
    width: 100%;
    height: 667px;
  }

}


// display for phone screen size
@media (min-width: 500px){

  .background-carousel{
    width: 100%;
    height: 1050px;
  }

  #map {
    display: none;
  }

}

// display for biggger phone scren size
@media (min-width: 600px){
  .background-carousel{
    width: 100%;
    height: 1300px;
  }

}


// display for tablet size
@media only screen and (min-width: 768px) {
  .background-carousel{
    width: 100%;
    height: 1024px;
  }

  .fa-twitter ,.fa-instagram, .fa-facebook-f, .fa-youtube {
    color: white;
    font-size: 2rem;
  }


  .fa-twitter:hover ,.fa-instagram:hover, .fa-facebook-f:hover, .fa-youtube:hover {
    color: black;
    transform: scale(1.5);
  }
}


// display for desktop screen size
@media (min-width: 992px){
  .background-carousel{
    width: 100%;
    height: 1030px;
  }

  .brand-size {
    height: 200px;
  }


  .resize-font {
    font-size: 3rem;
  }

  .quotes {
    font-size: 1.2rem;
    text-shadow: 2px 2px rgba(0,0,0,0.4);
  }

  .banner-border {
    background-color: rgba(0,0,0,0.4);
    width: 1200px;
  }

  .img-size {
    width: 100%;
    height: 250px;
  }


  .frame-size {
    width: 100%;
    height: 300px;
  }

  .re-position {
    top: 55%;
    left: 45%;

  }

  .card-size {
    width: 23rem;
  }

  #map {
    width: 800px;
    height: 500px;

  }

  .mobile {
    display: none;
  }

}


@media (min-width: 1200px){
  .background-carousel{
    width: 100%;
    height: 1150px;
  }

  .re-position {
    top: 48%;
    left: 45%;

  }
}
