$primary: #29ade5;
$h1-font-size: 2rem;
$font-family-sans-serif: 'Josefin Sans', sans-serif;
// Include parts of Bootstrap

// Required
@import "bootstrap-4.3.1/scss/functions";
@import "bootstrap-4.3.1/scss/variables";
@import "bootstrap-4.3.1/scss/mixins";


//optional
@import "bootstrap-4.3.1/scss/utilities/";
@import "bootstrap-4.3.1/scss/grid";
@import "bootstrap-4.3.1/scss/buttons";
@import "bootstrap-4.3.1/scss/images";
@import "bootstrap-4.3.1/scss/jumbotron";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}


h1, p {
  font-family: $font-family-sans-serif;
}


.background-carousel {
  background-image: url('../images/landing.jpg');
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 667px;
}


.brand-size {
  width: 100%;
  height: 80px;
}

.logo-size {
  width: 160px;
  height: 60px;
}

.icon-size {
  width: 70px;
  height: 70px;
}

.icon-size:hover {
  color: $primary;
}

.quotes {
  display: none;
}


.resize-font {
  font-size: 1.5rem;
}




@media (min-width: 1025px){
  .background-carousel{
    width: 100%;
    height: 1080px;
  }
}
